.App {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.popup-content {
  background-color: #282c34 !important;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.event-popup {
  color: aliceblue;
}

.NavBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(150, 183, 255);
  border-bottom-style: gr;
  border-bottom-width: 1px;
  border-bottom-color: rgb(63, 100, 201);
  align-items: center;
  min-height: 70px;
  padding-left: 25px;
  font-size: large;
}

.quizIcons{
  font-size: 30px;
}

/* Amatic SC */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.NavBar-link{
  text-decoration: none;
  margin-right: 20px; 
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;

}
body {
  /* Zbog toga sto ne prikaze sve odjednom kao sto bi trebalo */
  overflow-x: hidden;
  
  font-family: 'Amatic SC', cursive;
}

.header-title{
  
  font-family: 'Amatic SC', cursive;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.horizontal{
  display: flex;
  background: linear-gradient(to bottom, #ffffff, #2980b9);
}

.names{
  margin:20px;
  color:white;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Amatic SC', cursive;
}

.team {
  margin: 10px;
  border-style: solid; 
  border-color: #ccc; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-teams {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.team-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 10px;
}

.team-content {
  margin: 10px;
}